<div class="card m-5 p-2" id="listDoctorContainer">
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Digite o conselho do médico:"
                aria-label="Recipient's username" aria-describedby="searchButton" id="searchDoctor">
            <button class="btn btn-primary" type="button" id="searchDoctorButton">Buscar</button>
        </div>
        <br>
        <table class="table table-bordered table-hover table-striped">
            <thead class="text-center">
                <th>Nome Médico</th>
                <th>Especialidade</th>
                <th>Número do Conselho</th>
                <th>Quantidade Atendimentos</th>
                <th></th>
            </thead>
            <tbody class="text-center" id="tbodyDoctor">

            </tbody>
        </table>

    </div>
</div>