@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

:root{
    --cor0:#117050;
    --cor1:#999;
    --cor2:#006341;
    --cor3:#454545;
    --cor4:#FFF;
    --cor5:#e8e9ee;
    --cor6:#333333;
  }

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: auto;
}
.bar {
    background-color: var(--cor2);
    width: 168px;
    height: 22px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin: 0;
    margin-bottom: 30px;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin: 20px 0;
    line-height: 45px;
}
.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    border: 2px solid var(--cor3);
    color: var(--cor3);
    text-decoration: none;
}
.button:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

header .line {
    background-color: var(--cor0);
    height: 10px;
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-left img {
    width: 64px;
    height: 64px;
}

.header--right {
    display: flex;
    align-items: center;
}
.header--search form {
    display: flex;
}
.header--search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid var(--cor1);
    outline: 0;
    width: 100%;
    max-width: 250px;
}
.header--search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}
.header--search button img {
    width: 16px;
    height: 16px;
}
.header--menu {
    margin-left: 50px;  
    cursor: pointer;
}
.header--menu img {
    width: 24px;
    height: 24px;
}

.banner {
    background-image: url('/b7web/html-css/modulo10/starbucks/assets/images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
.banner 
.banner--images{
    margin-top: 60px;
}
.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid var(--cor0);
    border-radius: 50%;
    margin-right: 40px;
}

.area1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area1--content {
    padding: 80px;
}
.area1--quote {
    margin-bottom: 30px;
}
.area1--text {
    margin-bottom: 50px;
    line-height: 25px;
}
.area1--img1 {
    height: 350px;
    background-image: url('/b7web/html-css/modulo10/starbucks/assets/images/f2.jpg');
    background-size: cover;
    background-position: center;
}
.area1--img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('/b7web/html-css/modulo10/starbucks/assets/images/f1.jpg');
    background-size: cover;
    background-position: center;
}

.area2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area2--content {
    padding: 80px;
}
.area2--text {
    margin-bottom: 50px;
    line-height: 25px;
}
.area2--img1 {
    height: 450px;
    background-image: url('/b7web/html-css/modulo10/starbucks/assets/images/f4.jpg');
    background-size: cover;
    background-position: center;
}
.area2--img2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url('/b7web/html-css/modulo10/starbucks/assets/images/f3.jpg');
    background-size: cover;
    background-position: center;
}


.area3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area3--content {
    padding: 200px 80px;
    background-image: url('/b7web/html-css/modulo10/starbucks/assets/images/bg2.jpg');
    background-size: cover;
    background-position: left;
}
.area3--text {
    margin-bottom: 50px;
    line-height: 25px;
}
.area3--img1 {
    background-image: url('/b7web/html-css/modulo10/starbucks/assets/images/f5.jpg');
    background-size: cover;
    background-position: center;
}

.area4 {
    display: grid;
    grid-template-columns: 450px 1fr;
    background-color: var(--cor5);
}
.area4--content {
    padding: 150px 80px;
}
.area4--text {
    margin-bottom: 50px;
    line-height: 25px;
}
.area4--img1 {
    background-image: url('/b7web/html-css/modulo10/starbucks/assets/images/bg3.jpg');
    background-position: left;
}


.area5{
    background-image: url('/b7web/html-css/modulo10/starbucks/assets/images/bg4.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

footer {
    background-color: var(--cor6);
    color: var(--cor4);
    padding: 80px;
    text-align: center;
}

@media (min-width: 769px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .area1 {
        grid-template-columns: 3fr 2fr;
    }
    .area2 {
        grid-template-columns: 2fr 3fr;
    }
    .area3 {
        grid-template-columns: 3fr 2fr;
    }
}
@media (max-width: 425px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header--menu {
        margin-left: 20px;
    }
    .header--search input {
        max-width: 80px;
    }

    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .banner--images img {
        width: 70px;
        height: 70px;
        border: 3px solid var(--cor0);
        border-radius: 50%;
        margin-right: 10px;
    }
    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }
    .area1--content,
    .area2--content,
    .area3--content, 
    .area4--content {
        padding: 40px;
    }
    
    .area5 {
        height: 200px;
    }

    footer {
        font-size: 12px;
        padding: 20px 40px;
    }
}