* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(85,99,187,1) 0%, rgba(85,172,189,1) 50%, rgba(84,211,170,1) 100%);
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.search {
    display: flex;
    width: 300px;
}
.search #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}
.search button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: #555;
    color: #FFF;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.search button:hover {
    background-color: #444;
}

.resultArea {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-gap: 10px;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    
}
.resultMaster {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 250px;
    border-radius: 10px;
    background: rgba(0, 26, 255, 0.123);
    padding-top: 10px;
    padding-bottom: 10px;
}

.localTitle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
}
.icon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img {
    height: 130px;
}
.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
.tempCurrent {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.tempMinMax {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-around;
    color: #FFFFFF;
}

.wind {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.windSpeed span {
    font-size: 15px;
}
.windDot {
    margin-left: 20px;
    width: 30px;
}

.resultInfo {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 250px;
    border-radius: 10px;
}   
.resultWeek {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    border-radius: 10px;
}   






.result {
    width: 300px;
    display: none;
    border: 1px dotted #FFF;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.title {
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.info {
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .wind {
    flex: 1;
    text-align: center;
}
.tempTitle,
.windTitle {
    color: #777;
    font-size: 16px;
    margin-bottom: 5px;
}
.tempInfo,
.windInfo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}
.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}
.windInfo span {
    font-size: 15px;
    font-weight: normal;
}
.windArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
}
.windDot {
    
    
}

.alert {
    color: #FFF;
    padding-top: 20px;
}