*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    margin: auto; 
    width: 500px;
    height: 500px;
}
.line{
    border: 1px solid rgb(119, 119, 119);
    margin: 0;
    


}

.button{
    width: 40px;
    height: 40px;
    background-color: #6f00ff;
    border: none;
}