@keyframes exemplo{
    0% {background-color: red;top:0;left:0;}
    25% {background-color: yellow;top:0;left:200px;}
    50% {background-color:blue;top:200px;left:200px;}
    75% {background-color: green;top:200px;left:0;}
    100% {background-color: red;top:0;left:0;}
}



body{
    margin: 0;
}

.exemplo{
    width: 150px;
    height: 150px;
    background-color: red;
    position:absolute;
    animation-name:exemplo;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 3;
}