.texto {
    width: 200px;
    height: 900px;
    overflow: auto;
    background-color: #CCC;
    padding: 20px;
}

.scrollButton {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: red;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}