#exemplo {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #CCC;
    text-align: center;
}
.verde {
    background-color: green;
}
.vermelho {
    background-color: red;
}
.azul {
    background-color: blue;
    border-radius: 50px;
    color: white;
}