<!-- <ng-content select="h1"></ng-content>
<p [ngClass]="{'active': valor, 'disable': !valor}">NgClass</p>

<p [ngStyle]="{'height': heightPx, 'background': backgroudColor}">NgStyle</p>

<hr>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome}}</li> 

<ng-template [ngIf]="true">
    <p>True</p>
</ng-template>

<ng-content select="hr"></ng-content> -->


<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome | uppercase}}</li> 
