@charset "UTF-8";

body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color:white;
}
h2{
    color: brown;
    text-align: center;
}