:root{
    --bg-collor: #fff;
    --bg-second:#ccc;
    --font-size: 25px;
}   

body{
    background-color: var(--bg-collor);
    font-size: var(--font-size);
}
h1{
    color: var(--font-color, #0000ff);
}
p{
    background-color: var(--bg-second);
    color: var(--font-color);
}

@media (max-width: 450px) {
    :root{
        --font-size: 15px;
    }
}