*{
	font-family: Arial, Helvetica, sans-serif;
}
body {
	margin: 0;
	padding: 0;
	padding-bottom: 300px;
}
header {
	display: flex;
	justify-content: center;
	height: 120px;
}
.container {
	display: flex;
	justify-content: space-between;
	width: 990px;
}
.logo {
	display: flex;
	align-items: center;
}
.menu {
	display: flex;
	align-items: center;
}
nav ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul {
	display: flex;
}
nav a {
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
	font-family: Arial, Helvetica, sans-serif;
}
nav .active a, a:hover {
	background-color: #39aae1;
	color: #FFF;
}
#banner {
	display: flex;
	justify-content: center;
	background-image: url(../images/img1.jpg);
	background-position: center;
	background-size: cover;
	height: 670px;
}
.collumn {
	flex-direction: column;
}
.banner_headline {
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner_headline h1 {
	color: #FFF;
	font-size: 70px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.238);
	margin: 0;
	padding: 0;
	max-width: 350px;
}
.banner_headline h2 {
	color: #FFF;
	font-size: 21px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.238);
	margin: 0;
	padding: 0;
	max-width: 350px;
	margin-top: 30px;
}
.banner_options {
	height: 210px;
	display: flex;
}
.banner1, .banner2, .banner3 {
	flex: 1;
	color: #FFF;
	padding: 20px;
}
.banner1 {
	background-color: #39aae1;
}
.banner2{
	background-color: #0079c7;
}
.banner3{
	background-color: #2b4c99;
}
.banner_title {
	font-size: 21px;
}
.banner_desc {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.banner_options a {
	display: inline-block;
	border: 1px solid #FFF;
	padding: 5px;
	color:#FFF;
	font-size: 13px;
	text-decoration: none;
}
.banner_hours {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.185);
}
.banner_hours p {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.b1{
	margin-top: 12px;
}
#geral{
	display: flex;
	justify-content: center;
}
#geral section{
	flex:2;
}
#geral aside{
	flex:1;
}
.widget_title {
	margin-top: 30px;
	margin-bottom: 20px;
}
.widget_title_text {
	color: #000;
	font-size: 21px;
	font-weight: bold;
}
.widget_title_bar{
	width: 50px;
	height: 2px;
	background-color: #36a9e1;
	margin-top: 10px;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
article {
	flex: 1;
	min-width: 300px;
	margin-right: 20px;
}
article a {
	text-decoration: none;
}
article .news_data {
	display: flex;
}
article .news_posted_at {
	background-color: #2b4c99;
	color:#FFF;
	font-size: 12px;
	padding: 10px;
	margin-right: 2px;
}
article .news_comments {
	background-color: #39aae1;
	color:#FFF;
	font-size: 12px;
	padding: 10px;
}
article .news_thumbnail {
	margin-top: 30px;
}
article .news_thumbnail img {
	width: 100%;
	height: auto;
}
article .news_title {
	margin-top: 25px;
	margin-bottom: 25px;
	color: #000;
	font-size: 23px;
}
article .news_resume {
	color: #5c5c5c;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 30px;
}
.widget_box{
	display: flex;
	flex-wrap: wrap;
	
}
.box{
	flex: 1;
	min-width: 30%;
	min-height: 135px;
	margin: 10px;
	background-color: #39aae1;
}
.details{
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.185);
}
.contacts p{
	display: flex;
	flex-direction: row;
	flex:1;
	align-items: center;
	font-size: 16px;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.185);
}
.imgContact{
	width: 35px;
	margin-right: 10px;
}