/* CSS DA INTERFACE GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header {
    height: 100px;
    background-color: #000000;
    color: #FFFFFF;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo {
    width: 100px;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid #000000;
}
.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span {
    color: #b28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #b28756;
}


.default {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;   
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title {
    font-size: 20px;
}
.default .section-desc {
    font-size: 12px;
    color: #AAA;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body {
    max-width: 1140px;
    margin: auto;
}
.default.light {
    background-color: #F7F7F7;
}
.default.light .section-title,
.default.light .section-body {
    color: #000;
}
.default.dark {
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body {
    color: #FFF;
}





/* CSS DE ÁREAS ESPECÍFICAS */

.section-aboutus {
    display: flex;
}
.section-aboutus--left {
    flex: 1;
}
.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}
.section-aboutus--right {
    width: 520px;
    text-align: center;
}
.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}



.section-services {
    display: flex;
}
.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service:first-child {
    border-left: 1px solid #333;
}
.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}


.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}
.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #b28756;   
}
.section-projects--filters li:first-child {
    border-left: 0;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo {
    width: 280px;

}
.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;

}
.section-projects--photoarea img {
    width: inherit;
    height: inherit;

}
.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
}
.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}


.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;

}
.section-team {
    overflow: hidden;
}
.section-team .sliders {
    width: 1000vw;
    height: 100%;
}
.section-team .slide{
    width: 300px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}