*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 13px;
}
header {
    height: 100px;
    background-color: #000000;
    color: #FFFFFF;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo {
    width: 100px;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid #000000;
}
.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}


.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span {
    color: #b28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner a {
    display: block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}