*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100px;
    background-color: #000000;
    color: #FFFFFF;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo {
    width: 100px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
}
