@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ================== ROOT VARIABLES ================== */
:root {
    --color-primary: #04ADBF;
    --color-secondary: ##0388A6;
    --color-tertiary: ##03588C;
    --color-fourth: #023373;
    --color-fifth: ##D0D3D9;
    --color-danger: #FF7782;
    --color-success: #41F1B6;
    --color-warning: #FFBB55;
    --color-white: #FFFFFF;
    --color-info-dark: #7D8DA1;
    --color-info-light: #DCE1EB;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111E88;
    --color-dark-variant: #677483;
    --color-background: #F6F6F9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rme;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.background-primary-color {
    background-color: var(--color-primary);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    overflow-x: hidden;
    color: var(--color-dark);
}


/* ================== HEADER MENU ================== */

body header nav {
    background-color: var(--color-primary);
}

body header nav a img {
    width: 10rem;
}

a.nav-link {
    color: var(--color-white);
    font-size: 16px;
}
a.nav-link:hover {
    color: var(--color-info-light);
}
.navbar-nav .nav-link.active {
    color: var(--color-info-light);
}

.language-img {
    width: 2rem;
}

/* ================== FIRST SECTION - HOME ================== */


.first-section .left-side h1 {
    font-size: 6em;
}
.first-section .left-side p {
    font-size: 1em;
}
.first-section .buttons button {
    width: 15rem;
    height: 3rem;
}
.first-section .buttons button:hover {
    opacity: 0.8;
}

/* ================== SECOND SECTION - ABOUT ================== */

.second-section {
    z-index: 1;
}

.second-section .card {
    height: 12rem;
}

.third-section {
    height: 100vh;
}

/* ================== THIRD SECTION - PRODUCTS ================== */

.carousel img {
    height: 50%;
    width: auto;
}

.card-footer {
    min-height: 5rem;
}

/* ================== FOURTH SECTION - CONTACT ================== */

.social-medias svg {
    width: 3rem;
    fill: var(--color-dark);
}

.social-medias svg:hover {
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

/* ================== WHATSAPP BUTTON ================== */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}

/* ================== FOOTER ================== */

footer::after {
    content: "© Copyright 2022 - Inside Medical | Desenvolvido por Emerson Seiler";
}  