/* CONFIGURAÇÕES GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Quicksand:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{
    --cor0:#F2D0D9;
    --cor1:#D93682;
    --cor2:#D977A5;
    --cor3:#1C3D59;
    --cor4:#F2F2F2;
    --cor5:#FFFFFF;
    --cor6:#000000;
    --cor7:#DCA0C3;
  }

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.container {
    max-width: 1140px;
    margin: auto;
}


/* SEÇÃO CABEÇALHO */

header{
    height: 80px;
    background-color: var(--cor0);
}
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    height: 60px;
}
.headerMenu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}
.headerMenu ul li {
    padding-right: 20px;
    color: var(--cor3);
}
.headerMenu ul li:hover {
    color: var(--cor1);
    cursor: pointer;
}

/* SEÇÃO BANNER */
.banner {
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerBanner h1 {
    font-size: 80px;
    font-weight: bold;
    color: var(--cor3);
    margin-bottom: 20px;
}

/* SEÇÃO BOTÕES BANNER */
.containerButtons {
    text-align: center;
}
.button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.bProducts {
    background-color: var(--cor3);
    border: 2px solid var(--cor3);
    color: var(--cor5);
}
.bContact {
    background-color: transparent;
    border: 2px solid var(--cor3);
    color: var(--cor3);
}
.bProducts:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}
.bContact:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

/* SEÇÃO SOBRE */

section.aboutContainer {
    background-color: var(--cor0);
    height: 500px;
}
.aboutBox {
    width: 950px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding-top: 50px;
}
.about {
    grid-column: 1/3;
    padding-right: 60px;
    text-align: justify;
}
.about h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--cor3);
    margin-bottom: 20px;
}
.imgAbout {
    background-image: url(../imagens/sobre.jpg);
    background-position: bottom;
    background-size: 100%;
    height: 400px;
    width: 350px;
    border-radius: 20px;
    grid-column: 3/4;
}


/* SEÇÃO PRODUTOS */

.productContainer {
    height: 600px;
    background-image: url(../imagens/produto_bg.png);
}
.productBox{
    width: 950px;
    height: 400px;
    display: block;
    margin: auto;
    padding-top: 10px;
}
.productTitulo {
    font-size: 80px;
    font-weight: bold;
    color: var(--cor3);
    margin-bottom: 20px;

}
.productDescricao {
    text-align: right;
    font-size: 80px;
    margin-right: 40px;
    font-family: 'Advent Pro';
    color: white;
}

/* SEÇÃO GALERIA */

.galeryContainer {
    background-color: var(--cor3);
    padding-bottom: 50px;
}

.galeryContainer h2 {
    text-align: center;
    margin: 0;
    padding: 50px 0px 20px 0px;
    color: var(--cor5);
}
.galeryTittle {
    font-size: 50px;
    font-weight: bold;
    color: var(--cor3);
    margin-bottom: 20px;
}
.sectionGaleryPhotos {
    width: 90%;
    max-width: 950px;
    margin-top: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionGaleryPhoto {
    width: 280px;
}
.sectionGaleryPhotoArea {
    margin: 10px;
    width: 260px;
    height: 160px;
    
}
.sectionGaleryPhotoArea img {
    width: inherit;
    height: inherit;
    border-radius: 10px;
}
.sectionGaleryPhotoInfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
    border-radius: 10px;
}
.sectionGaleryPhotoInfo h5 {
    font-size: 18px;
    font-weight: 600;
    /* margin-bottom: 0px; */
}
.sectionGaleryPhotoInfo p {
    margin-top: -20px; */
}

.sectionGaleryPhotoArea:hover .sectionGaleryPhotoInfo {
    display: flex;
}