/* CONFIGURAÇÕES GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Quicksand:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{
    --cor0:#F2D0D9;
    --cor1:#D93682;
    --cor2:#D977A5;
    --cor3:#1C3D59;
    --cor4:#F2F2F2;
    --cor5:#FFFFFF;
    --cor6:#000000;
    --cor7:#DCA0C3;
  }

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.container {
    max-width: 1140px;
    margin: auto;
}


/* SEÇÃO CABEÇALHO */

header{
    height: 80px;
    background-color: var(--cor0);
}
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    height: 60px;
}
.headerMenu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}
.headerMenu ul li {
    padding-right: 20px;
    color: var(--cor3);
}
.headerMenu ul li:hover {
    color: var(--cor1);
    cursor: pointer;
}

/* SEÇÃO BANNER */
.banner {
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerBanner h1 {
    font-size: 80px;
    font-weight: bold;
    color: var(--cor3);
    margin-bottom: 20px;
}

/* SEÇÃO BOTÕES BANNER */
.containerButtons {
    text-align: center;
}
.button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.bProducts {
    background-color: var(--cor3);
    border: 2px solid var(--cor3);
    color: var(--cor5);
}
.bContact {
    background-color: transparent;
    border: 2px solid var(--cor3);
    color: var(--cor3);
}
.bProducts:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}
.bContact:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

/* SEÇÃO SOBRE */

.aboutContainer {
    background-color: var(--cor0);
    height: 500px;
}
.aboutBox {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.about {
    max-width: 550px;
    padding-right: 60px;
    text-align: justify;
}
.about h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--cor3);
    margin-bottom: 20px;
}
.imgAbout {
    max-width: 350px;
    height: auto;
    border-radius: 20px;
}


/* SEÇÃO PRODUTOS */

.productContainer {
    height: 600px;
    background-image: url(../imagens/produto_bg.png);
}
.productBox{
    display: flex;
    margin: auto;
    margin-right: 30px;
    align-items: flex-end;
    flex-direction: column;
}
.productTitulo {
    font-size: 80px;
    font-weight: bold;
    color: var(--cor3);
    margin-top: 10px;

}
.productDescricao {
    font-size: 80px;
    font-family: 'Advent Pro';
    color: white;
    text-shadow: 1px 1px 5px #1f1c1c;
}

/* SEÇÃO GALERIA */

.galeryContainer {
    background-color: var(--cor3);
    padding-bottom: 50px;
}

.galeryContainer h2 {
    text-align: center;
    margin: 0;
    padding: 50px 0px 20px 0px;
    color: var(--cor5);
}
.galeryTittle {
    font-size: 50px;
    font-weight: bold;
    color: var(--cor3);
    margin-bottom: 20px;
}
.sectionGaleryPhotos {
    width: 90%;
    max-width: 950px;
    margin-top: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionGaleryPhoto {
    width: 280px;
}
.sectionGaleryPhotoArea {
    margin: 10px;
    width: 260px;
    height: 160px;
    
}
.sectionGaleryPhotoArea img {
    width: inherit;
    height: inherit;
    border-radius: 10px;
}
.sectionGaleryPhotoInfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
    border-radius: 10px;
}
.sectionGaleryPhotoInfo h5 {
    font-size: 18px;
    font-weight: 600;
}
.sectionGaleryPhotoInfo p {
    margin-top: -20px;
}

.sectionGaleryPhotoArea:hover .sectionGaleryPhotoInfo {
    display: flex;
}


/* RESPONSIVIDADE */

@media (min-width: 769px) and (max-width: 1140px) {


}

@media (min-width: 426px) and (max-width: 768px) {
    header img{
        margin-left: 20px;
    }
    .headerMenu ul li{
        font-size: 12px;
        padding-right: 10px;
    }
    .containerBanner h1 {
        font-size: 56px;
    }
    .aboutContainer {
        height: 700px;
        
    }
    .about {
        text-align: justify;
        padding-right: 0px;
    }
    .aboutBox {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .about h2 {
        font-size: 30px;
        font-weight: bold;
        color: var(--cor3);
        margin-bottom: 20px;
    }
    .imgAbout {
        max-width: 350px;
        height: auto;
        border-radius: 20px;
    }
    .productBox{
        margin-right: 0px;
        align-items: center;
    }
    .productTitulo {
        font-size: 55px;
    
    }
    .productDescricao {
        font-size: 80px;
    }


}

@media (max-width: 425px) {
    .headerMenu ul li{
        display: none;
    }
    .containerBanner h1 {
        font-size: 40px;
    }
    .aboutContainer {
        height: 750px;   
    }
    .about {
        text-align: justify;
        padding-right: 0px;
    }
    .aboutBox {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .about h2 {
        font-size: 30px;
        font-weight: bold;
        color: var(--cor3);
        margin-bottom: 20px;
    }
    .imgAbout {
        max-width: 310px;
        height: auto;
        border-radius: 20px;
    }
    .productContainer {
        height: 450px;
    }
    .productBox{
        margin-right: 0px;
        align-items: center;
    }
    .productTitulo {
        font-size: 35px;
    
    }
    .productDescricao {
        font-size: 50px;
    }
}