<div class="card m-5 p-2" id="listPatientContainer">
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Digite o cpf do paciente: 000.000.000-00"
                aria-label="Recipient's username" aria-describedby="searchButton" id="searchPatient">
            <button class="btn btn-primary" type="button" id="searchPatientButton">Buscar</button>
        </div>
        <br>
        <table class="table table-bordered table-hover table-striped">
            <thead class="text-center">
                <th>Nome Paciente</th>
                <th>CPF</th>
                <th>Quantidade Atendimentos</th>
                <th></th>
            </thead>
            <tbody class="text-center" id="tbodyPatient">
                <tr *ngFor="let patient of patients; let index = index">
                    <td>{{ patient.name }}</td>
                    <td>{{ patient.cpf }}</td>
                    <td>{{ patient.appointments.length }}</td>
                    <td class="p-1">
                        <div class="d-flex gap-1 justify-content-center p-1">
                            <div class="mx-1 btn btn-danger d-flex align-items-center justify-content-center" (click)="deletePatient(index)">
                                <span class="material-icons-sharp">delete</span>
                            </div>
                            <div class="mx-1 btn btn-success d-flex align-items-center justify-content-center">
                                <span class="material-icons-sharp">edit</span>
                            </div>
                            <div class="mx-1 btn btn-primary d-flex align-items-center justify-content-center">
                                <span class="material-icons-sharp">description</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>