<!-- <h2>Interpolation</h2>
<p>{{ nome }} tem {{ idade }} anos</p>

<p>{{ nome }} tem mais de 28 anos?</p>
<p>{{ idade > 28 }}</p>

<p>Quanto é {{ idade }} +{{ maisUm }}?</p>
<p>Resultado: {{ idade + maisUm }}</p>

<hr>

<h2>Property Binding</h2>

<button [disabled]="checkedDisable">Button</button>

<img [src]="imgSrc" width="100px" [title]="imgTitle" [alt]="imgTitle">

<hr>

<h2>Event Binding</h2>

<button (click)="alertaInfo($event)">Evento</button>

<div (mousemove)="mouseMoveTest($event)" style="background: red; width: 300px; height: 300px"></div>

{{ position.x }} - {{ position.y }}

<br>
<br>
<hr>

<h2>Two-way Binding</h2>
<input [(ngModel)]="nome">
{{ nome }}
<br>
<br>

<hr> -->