* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor0: #3EA1DB;             /* blue */
    --cor1: #574AE8;        /* blue-dark */
    --cor2: #FFF;               /* white */
    --cor3: #313131;            /* title */
    --cor4: #B6B6B6;             /* text */
    --cor5: #ffffff44;
    --grad0: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);    /* gradiente */
  }

@font-face {
    font-family: 'Inter-Medium';
    src: url(/assets/fonts/Inter-Medium.ttf) format('truetype');
    font-family: 'Inter-Regular';
    src: url(/assets/fonts/Inter-Regular.ttf) format('truetype');
    font-family: 'LexendDeca-Regular';
    src: url(/assets/fonts/LexendDeca-Regular.ttf) format('truetype');
}
body {
    background-color: rgb(235, 235, 235);
}
header {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 250px;
    background: var(--grad0);
}
.headerArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 168px;
    max-width: 900px;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 900px;
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 12px;
    color: var(--cor2);
}
.search {
    max-width: 900px;
    display: flex;
    align-items: center;
}
input {
    width: 900px;
    height: 65px;
    font-size: 18px;
    padding-left: 60px;
    background-color: var(--cor5);
    border: none;
    color: var(--cor2);
    border-radius: 5px;
}
input::placeholder {
    font-family: 'Inter-Regular', sans-serif;
    color: var(--cor2);
}
.search img {
    height: 24px;
    width: 24px;
    margin-left: -880px;
}
section {
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerPost {
    width: 100%;
    height: auto;
    background-color: var(--cor2);
    margin-bottom: 50px;
    padding: 25px;
    border-radius: 5px;
}
.containerPost:first-child {
    margin-top: 100px;
}
.dataLike {
    display: flex;
    justify-content: space-between;
}
.dataLike spam {
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--cor3);
}
.containerPost h2{
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 26px;
    margin-top: 22px;
    color: var(--cor3);
}
.containerPost p{
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--cor4);
    margin-top: 8px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        max-width: 1024px;
    }
    .headerArea {
        max-width: 768px;
    }
    
    .title {
        width: 700px;
    }
    .search {
        max-width: 700px;
    }
    input {
        width: 700px;
        font-size: 16px;
        padding-left: 60px;
    }
    .search img {
        height: 24px;
        width: 24px;
        margin-left: -680px;
    }

    section {
        max-width: 100%;
    }
    .dataLike spam {
        font-size: 14px;
    }
    .containerPost {
        width: 90%;
    }
    .containerPost h2{
        font-size: 20px;
    }
    .containerPost p{
        font-size: 12px;
    }
}

@media (min-width: 482px) and (max-width: 767px) {
    header {
        max-width: 767px;
    }
    .headerArea {
        max-width: 482px;
    }
    
    .title {
        margin-top: 48px;
        width: 400px;
        font-size: 8px;
    }
    .search {
        max-width: 400px;
    }

    input {
        width: 400px;
        height: 40px;
        font-size: 14px;
    }
    .search img {
        height: 24px;
        width: 24px;
        margin-left: -380px;
    }
    section {
        max-width: 100%;
    }
    .dataLike spam {
        font-size: 14px;
    }
    .containerPost {
        width: 90%;
    }
    .containerPost h2{
        font-size: 20px;
    }
    .containerPost p{
        font-size: 12px;
    }
}

@media (min-width:320px) and (max-width: 480px) {
    header {
        max-width: 480px;
        max-height: 200px;
    }
    .headerArea {
        max-width: 300px;
        max-height: 200px;
        justify-content: center;
    }
    
    .title {
        width: 300px;
        font-size: 8px;
        margin-bottom: 40px;
    }
    .search {
        max-width: 300px;
    }
    input {
        width: 300px;
        height: 40px;
        font-size: 14px;
    }
    .search img {
        margin-left: -280px;
    }
    section {
        max-width: 100%;
    }
    .dataLike spam {
        font-size: 14px;
    }
    .containerPost {
        width: 90%;
    }
    .containerPost:first-child {
        margin-top: 50px;
    }
    .containerPost h2{
        font-size: 20px;
    }
    .containerPost p{
        font-size: 12px;
    }

}

/* Desktops: (min-width: 1281px)
Laptops, desktops: (min-width: 1025px) and (max-width: 1280px)
Tablets, ipads: (min-width: 768px) and (max-width: 1024px)
Tablets de baixa resolução, celulares: (min-width: 482px) and (max-width: 767px)
A maioria dos smartphones móveis: (min-width:320px) and (max-width: 480px) */