* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor0: #3EA1DB;             /* blue */
    --cor1: #574AE8;        /* blue-dark */
    --cor2: #FFF;               /* white */
    --cor3: #313131;            /* title */
    --cor4: #B6B6B6;             /* text */
    --cor5: #ffffff44;
    --grad0: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);    /* gradiente */
  }

@font-face {
    font-family: 'Inter-Medium';
    src: url(/assets/fonts/Inter-Medium.ttf) format('truetype');
    font-family: 'Inter-Regular';
    src: url(/assets/fonts/Inter-Regular.ttf) format('truetype');
    font-family: 'LexendDeca-Regular';
    src: url(/assets/fonts/LexendDeca-Regular.ttf) format('truetype');
}
body {
    background-color: rgb(235, 235, 235);
}
header {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 250px;
    background: var(--grad0);
}
.headerArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 900px;
    height: 168px;
    
}
.title1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.title2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: end;
    
}

.title {
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 24px;
    color: var(--cor2);
}
.search {
    display: flex;
    align-items: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
input {
    width: 900px;
    height: 65px;
    font-size: 18px;
    padding-left: 60px;
    background-color: var(--cor5);
    border: none;
    color: var(--cor2);
    border-radius: 5px;
}
input::placeholder {
    font-family: 'Inter-Regular', sans-serif;
    color: var(--cor2);
}
.search img {
    height: 24px;
    width: 24px;
    margin-left: -880px;
}
section {
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerPost {
    width: 100%;
    height: auto;
    background-color: var(--cor2);
    margin-bottom: 50px;
    padding: 25px;
    border-radius: 5px;
}
.containerPost:first-child {
    margin-top: 100px;
}
.dataLike {
    display: flex;
    justify-content: space-between;
}
.dataLike spam {
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--cor3);
}
.containerPost h2{
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 26px;
    margin-top: 22px;
    color: var(--cor3);
}
.containerPost p{
    font-family: 'LexendDeca-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--cor4);
    margin-top: 8px;
}

@media (max-width: 1024px) {
   header {
       width: 100%;
   }
   .headerArea {
       padding: 20px;
       width: 95%;
       height: 200px;
   }
   .search {
        height: 65px;
   }
   input {
       width: 100%;
   }
   .search img {
       margin-left: -97%;
   }

   .containerPost {
        width: 90%;
    
   }
}


@media (min-width:320px) and (max-width: 480px) {
    .headerArea {
        padding: 20px;
        align-items: center;
    }
    .title {
        font-size: 18px;
    }
    input {
        font-size: 14px;
        height: 40px;
        padding-left: 40px;
    }
    .search img {
        height: 14px;
        width: auto;
        
    }
    
    .dataLike spam {
        font-size: 14px;
    }
    .dataLike img {
        height: auto;
        width: 19px;
    }
    .containerPost h2{
        font-size: 18px;
    }
    .containerPost p{
        font-size: 14px;
    }
    
}
