@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
}

/* HEADER */
.header {
    margin: auto;
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 39px;
    z-index: 999;
}
.header .menuMobile {
    display: none;
    flex-direction: column;
    justify-content: start;
    height: 40px;
}
.header .menuMobile .lineMenu {
    display: flex;
    background-color: black;
    height: 3px;
    width: 50px;
    margin-top: 10px;
}
.logo img {
    width: 52px;
    height: auto;
}
.logo img:hover {
    cursor: pointer;
}
.menu {
    width: 726px;
}

.menu nav ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menu nav ul li {
    list-style: none;
    font-size: 24px;
    font-weight: 700;
}
.menu nav ul li a {
    text-decoration: none;
    color: black;
}
.search {
    display: flex;
    align-items: center;
}
.search img {
    width: 24px;
    height: auto;
    z-index: 999;
}
.search input {
    width: 220px;
    height: 45px;
    font-size: 18px;
    padding-left: 40px;
    margin-left: -35px;
}
.bag:hover {
    cursor: pointer;
}

/* PRINCIPAL */

.principal {
    margin: auto;
    display: flex;
    max-width: 1440px;
    height: 100vh;
    margin-top: -89px;
    
}

/* LADO ESQUERDO */

.leftSide {
    flex: 0.375;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 357px;
    height: 533px;
}
.containerPrice h1 {
    font-size: 60px;
    font-weight: 700;
}
.containerPrice p {
    font-size: 16px;
    font-weight: 700;
}
.containerPrice h2 {
    font-size: 40px;
    font-weight: 700;  
}
.containerPrice button {
    width: 274px;
    height: 90px;
    background-color: var(--button);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;  
    border: none;
}
/* LADO DIREITO */

.rightSide {
    flex: 0.625;
    background-color: var(--background);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.imgPrincipal {
    width: 70%;
}
.listImg {
    margin-top: -10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.listImg img {
    width: 300px;
}

/* FOOTER */

footer {
    margin: auto;
    max-width: 1440px;
    display: flex;
    height: 166px;
    justify-content: space-between;
}
.socialLink {
    width: 746px;
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socialLink a {
    text-decoration: none;
    color: #000;
}
.socialLink a:first-child {
    margin-left: 20px;
}
.socialLink a:last-child {
    margin-right: 20px;
}
.more {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 166px;
    width: 437px;
}
.more a {
    text-decoration: none;
    color: #FFF;
}

/* RESPONSIVIDADE */

@media (max-width:1280px) {
    .header {
        align-items: center;
    }
    .menu {
        width: 500px;
    }
    .menu nav ul li {
        font-size: 18px;
    }

    .leftSide {
        padding-top: 140px;
        padding-bottom: 20px;
    }

}
@media (max-width:1024px) {
    .header {
        align-items: center;
    }
    .menu {
        width: 300px;
    }
    
    .menu nav ul li {
        font-size: 14px;
    }


    .containerPrice {
        max-width: 300px;
        height: 450px;
    }
    .containerPrice h1 {
        font-size: 50px;
    }
    .containerPrice p {
        font-size: 14px;
    }
    .containerPrice h2 {
        font-size: 40px; 
    }
    .containerPrice button {
        width: 274px;
        height: 70px;
  
    }

    .socialLink {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    .socialLink a:first-child {
        margin: 0;
    }
    .socialLink  a:last-child {
        margin: 0;
    }

}

@media (max-width: 830px) {
    .menu {
        width: 0;
    }
    .menu nav ul {
        display: none;
    }
    .header .menuMobile {
        display: flex;
    }


    .containerPrice {
        max-width: 200px;
        height: 300px;
    }
    .containerPrice h1 {
        font-size: 30px;
    }
    .containerPrice p {
        font-size: 12px;
    }
    .containerPrice h2 {
        font-size: 30px; 
    }
    .containerPrice button {
        width: 200px;
        height: 70px;
    }

    footer {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    iframe {
        max-width: 310px;
        height: auto;
    }
    .socialLink {
        width: 320px;
        height: 100px;
    }
    .more {
        width: 320px;
        height: 100px;
    }
}
@media (max-width: 520px) {
    .header {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
    }
    .logo img {
        width: 30px;
    }
    .search img {
        width: 20px;
    }
    .search input {
        width: 150px;
        height: 25px;
        font-size: 14px;
        padding-left: 40px;
    }

    .principal {
        flex-direction: column;
    }
    .leftSide {
        padding-top: 120px;
        padding-bottom: 20px;
    }
}
