/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: black;
}