<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
    <div class="mb-3" [class.has-error]="!nome.valid && nome.touched" [class.has-feedback]="!nome.valid && nome.touched">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Nome</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="usuario.nome"  name="nome" required #nome="ngModel">
            <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert"> Nome é obrigatório.</div>
        </div>
    </div>
    <div class="mb-3" [class.has-error]="!email.valid && email.touched" [class.has-feedback]="!email.valid && email.touched">
        <div class="col-sm-12">
            <label for="email" class="form-label">Email</label>
        </div>
        <div class="col-sm-12">
            <input type="email" class="form-control" id="email" placeholder="nome@email.com" [(ngModel)]="usuario.email"
            required email name="email" #email="ngModel">
            <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
                Email é obrigatório.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-md-3" [class.has-error]="!cep.valid && cep.touched" [class.has-feedback]="!cep.valid && cep.touched">
                <label for="cep" class="control-label">CEP</label>
                <input type="text" class="form-control" id="cep" name="cep" ngModel required #cep="ngModel">
                <div *ngIf="!cep.valid && cep.touched" class="alert alert-danger" role="alert"> CEP é obrigatório.</div>
            </div>
            <div class="col-md-3" [class.has-error]="!numero.valid && numero.touched" [class.has-feedback]="!numero.valid && numero.touched">
                <label for="numero" class="control-label">Número</label>
                <input type="text" class="form-control" id="numero" name="numero" ngModel required #numero="ngModel">
                <div *ngIf="!numero.valid && numero.touched" class="alert alert-danger" role="alert"> Número é obrigatório.</div>
            </div>
            <div class="col-md-6" [class.has-error]="!complemento.valid && complemento.touched" [class.has-feedback]="!complemento.valid && complemento.touched">
                <label for="complemento" class="control-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" name="complemento" ngModel required #complemento="ngModel">
                <div *ngIf="!complemento.valid && complemento.touched" class="alert alert-danger" role="alert">Complemento é obrigatório.</div>
            </div>
        </div>
    </div>
    <div class="mb-3" [class.has-error]="!rua.valid && rua.touched" [class.has-feedback]="!rua.valid && rua.touched">
        <div class="col-sm-12">
            <label for="rua" class="form-label">Rua</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="rua" placeholder="Rua" [(ngModel)]="usuario.rua"  name="rua" required #rua="ngModel">
            <div *ngIf="!rua.valid && rua.touched" class="alert alert-danger" role="alert"> Rua é obrigatório.</div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-md-5" [class.has-error]="!bairro.valid && bairro.touched" [class.has-feedback]="!bairro.valid && bairro.touched">
                <label for="bairro" class="control-label">Bairro</label>
                <input type="text" class="form-control" id="cep" name="bairro" ngModel required #bairro="ngModel">
                <div *ngIf="!cep.valid && cep.touched" class="alert alert-danger" role="alert">Bairro é obrigatório.</div>
            </div>
            <div class="col-md-4" [class.has-error]="!cidade.valid && cidade.touched" [class.has-feedback]="!cidade.valid && cidade.touched">
                <label for="cidade" class="control-label">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade" ngModel required #cidade="ngModel">
                <div *ngIf="!cidade.valid && cidade.touched" class="alert alert-danger" role="alert">Cidade é obrigatório.</div>
            </div>
            <div class="col-md-3" [class.has-error]="!estado.valid && estado.touched" [class.has-feedback]="!estado.valid && estado.touched">
                <label for="estado" class="control-label">Estado</label>
                <input type="text" class="form-control" id="estado" name="estado" ngModel required #estado="ngModel">
                <div *ngIf="!estado.valid && estado.touched" class="alert alert-danger" role="alert">Estado é obrigatório.</div>
            </div>
        </div>
    </div>
    

    <button type="submit" class="btn btn-primary mb-3" [disabled]="!f.valid">Submit</button>

    <app-form-debug [form]="f"></app-form-debug>
</form>