<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="usuario.nome"  name="nome"
        required >
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="nome@email.com" [(ngModel)]="usuario.email"
        required email name="email">
    </div>

    <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>