*{
    box-sizing: border-box;
}

body{
    margin:50px;
    font-size: 17px;
}

h1{
    font-family: 'Indie Flower';
}

table{
    width: 600px;  
}

table thead{
    background-color: #ccc;
}

th{
    font-weight: normal;
}

th, td{
    padding: 10px;
    text-align: left;
}


tbody td{
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even){
    background-color: #ccc;
}

tbody tr:hover{
    background-color: #eee;
}