<label for="">Nome da Escola</label>
<input type="text" class="form-control" [(ngModel)]="schoolName">

<button
    class="btn btn-primary mt-2 mb-2"
    [disabled]="!allowNewSchool"
    (click)="createSchool()">Incluir
</button>


<p *ngIf="schoolCreated;else noSchool">A escola foi criada: {{ schoolName }}</p>
<ng-template #noSchool>
    <p>Nenhuma escola foi criada!</p>
</ng-template>

<!-- <app-school *ngFor="let school of schools"></app-school> -->
<p *ngFor="let school of schools; let i = index" >
    {{ i }} - {{ school }}
</p>