<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
</head>
<body>


    <script>
        $(document).ready(

            function () {
                $.ajax({
                    url: "http://localhost:8080/cursospringrestapi/usuario/",
                    method: "GET"
                }).then (function (data, status, info) {

                });
            }
        );
    </script>
</body>
</html>