body{
    background-color: #00ff00;
}

@media (min-width:1000px){
    body{
        background-color: #0000ff;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    body{
        background-color: purple;
    };
}

@media (min-width:300px) and (max-width: 700px){
    body{
        background-color: royalblue;
    }
}

