.container {
    width: 309px;
    height: 137px;
}

.calc {
    height: 23px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: end;
    padding: 20px 20px 5px 5px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 60px;
    color: #FFFFFF;
    padding: 0px 20px 10px 0px;
    height: 79px;
    font-family: Arial, Helvetica, sans-serif;
}