body{
    margin: 0;
}
.exemplo{
    width: 150px;
    height: 150px;
    background-color: green;
    margin: auto;
    margin-top: 100px;
    transition: all 1s linear;
}

.exemplo:hover{
    width: 300px;
    height: 300px;
    background-color: red;
}
a{
    color: black;
    transition: all 1s linear;
}

a:hover{
    color: red;
}